<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Razor Page Application</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            AspNetCore
        </a>
    </nav>
    <div class="container p-2">
        <h3>Razor Page Application</h3>
        <hr />
        @RenderBody()
        <hr />
    </div>
    <h4>Footer</h4>
</body>
</html>
