@page "{id}/{year:regex(^20[0-2][0-9]$)}"
@*Matches http://localhost:5000/CityInfo/name*@
@*Please refer: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-5.0#route-constraint-reference*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetCore.RazorPages.Demo.Pages.CityInfoModel
@{
    Layout = "_Layout";
    var city = RouteData.Values["id"].ToString();
    var year = int.Parse(RouteData.Values["year"].ToString());
}

<p>You are now in @city and this is year @year</p> 
    