@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AspNetCore.RazorPages.Demo.Provider;
@{
    var provider = new StaticDataProvider();
    var cities = await provider.GetCitiesAsync();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-5">

            @foreach (var item in cities)
            {
                <p>
                    @item: <a href="/CityInfo/@item">More info</a>
                </p>
                
            }

    </div>
</body>
</html>

