@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AspNetCore.RazorPages.Demo.Provider;
@{
    Layout = "_Layout";
    var provider = new StaticDataProvider();
    var cities = await provider.GetCitiesAsync();
    var randomGenerator = new Random(DateTime.Now.Millisecond);

}



@foreach (var item in cities)
{
    <p>
        @item: <a asp-page="/CityInfo" asp-route-id="@item" asp-route-year="@randomGenerator.Next(2000, 2029)">More info</a>
    </p>

}

