@page
@*^should be the first line*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-5">
        <h3>Welcome to Razor Pages Learning</h3>
        <hr />

        <p>Bootstrap style applied</p>

        <img height="300" src="~/images/logo.png" alt="Logo" />

    </div>

</body>
</html>

