@page
@using AspNetCore.RazorPages.Demo.Provider;
@{
    var provider = new StaticDataProvider();
    var cities = await provider.GetCitiesAsync();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-5">

        <ul>
            @foreach (var item in cities)
            {
                <li>@item</li>
            }

        </ul>
    </div>
</body>
</html>

